@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebebeb;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: none;
  opacity: 0.8;
  background-image: url("../img/stock_chart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}

.form {
  background: rgba(248,248,255,0.7);
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  z-index: 1;
}

.title {
  margin-top: 30vh
}

.card {
  background-color:#f8f8ff;
  margin-bottom: 12px;
  border-radius: 10px;
}

.img-logo {
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 0px 20px;
}

.chart-container {
  height: 500px;
}

.company-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.news-url {
  color: #123456;
}

.news-url:hover {
  text-decoration: none;
}

.card-info {
  padding: 10px;
}

.my-form {
  display: flex;
  flex-direction: row;
}

.movers-container {
  font-size: 14px;
}

.movers-card {
  margin-top: 20px;
}

.movers-info {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  background-color: #f8f8ff;
  border-radius: 15px;
  padding: 0;
  margin-top: 5px;
}

.movers-item {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 3px;
  margin: 15px;
}

.movers-gainers {
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 3px;
  width: 100px;
  border-radius: 20px;
  margin: 15px;
}

.movers-losers {
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 3px;
  width: 100px;
  border-radius: 20px;
  margin: 15px;
}

.profile-tables {
  display: flex;
  flex-direction: row;
}

.following-list {
  font-size: 22px;
}

ul.ui-autocomplete {
  list-style: none;
  background-color: rgba(255,255,255,1) !important;
  color: #000000 !important;
  width: 200px;
  -moz-border-radius: 15px;
  border-radius: 0 !important;
  border: 1px solid #000000;
  font-size: 16px;
  z-index: 10;
}

.ui-helper-hidden-accessible {
  display: none;
}

#search {
  width: 500px;
}

@media screen and (max-width: 768px) {
  .major-index {
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }

  .profile-tables {
    flex-direction: column;
  }

  .table-custom {
    margin: 20px 0px;
  }

  .chart-container {
    height: 200px;
  }

  .my-form {
    width: 80vw;
  }

  .my-btn {
    display: none;
  }
  
  .hide {
    display: none;
  }
}