@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background-color: #fffafa;
  font-family: 'Montserrat', sans-serif;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  margin-top: 50px;
}

.deck {
  padding: 20px 0;
}

.profile-page {
  margin-top: 100px;
}

#following-companies {
  list-style: none;
  margin: 5px;
}

#desc-card {
  display: flex;
  flex-direction: column;
}

#chart {
  border: 1px solid black;
  margin-top: 10px;
}

#chart-div {
  margin-top: 10px;
}

#major-index {
  border: 1px solid black;
}

#symbol-list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#symbol-list li {
  margin: 5px;
}

.user-following {
  list-style: none;
  width: 100%;
}

.user-following li button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 500px;
  height: 35px;
  border: none;
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
}
