
body {
  font-size: 15px;
  background-color: #F8F8FF;
}

.main {
  padding: 0px 10px;
}

/* neon green #00ff00 */


/* neon red #ce1127 */

.card {
  background-color: #F8F8FF;
  margin: 3px !important;
  border: none !important;
}

.card-body {
  padding: 0 !important;
}

#sector-deck {
  margin: 5px;
}

.movers{
  list-style-type: none;
}