
body {
  font-size: 15px;
  background-color: #F8F8FF;
}

.main {
  padding: 0px 10px;
}

/* neon green #00ff00 */


/* neon red #ce1127 */
.deck {
  background-color: white;
  border: 0.1px solid black;
  padding: 5px;
  box-shadow: 1px 1px;
}

#sector-deck {
  margin: 3px;
}

#news-links {
  text-decoration: none;
  color: black;
}

#desc-card {
  margin-top: 25px;
}

.card {
  margin: 3px !important;
  border: none !important;
}

.card-body {
  padding: 0 !important;
}

.movers{
  list-style-type: none;
}

#company-news {
  margin-top: 20px;
}