body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.sidebar {
  position: fixed;
}

#volume-chart{
  margin-left: -3px;
  margin-top: -100px;
}