{% extends "base.html" %}
{% block content %}

<div class="card-deck text-center deck" id="sector-deck"></div>
<div class="container">
  <hr>
  <div class="row">
    <div class="snp col-sm-4 deck">
      <canvas id="snp-chart" height="100"></canvas>
    </div>  
    <div class="dow col-sm-4 deck">
      <canvas id="dow-chart" height="100"></canvas>
    </div>
    <div class="nasdaq col-sm-4 deck">
      <canvas id="nasdaq-chart" height="100"></canvas>
    </div>
  </div>
  <hr>
</div>

<div class="container text-center">
  <div class="row deck">
    <div class="col-sm-4">
      <ul class="movers" id="actives">
        <h4>Actives</h4>
        <hr>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="movers" id="gainers">
        <h4>Gains</h4>
        <hr>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul class="movers" id="losers">
        <h4>Losses</h4>
        <hr>
      </ul>
    </div>
  </div>
  <hr>
</div>

<div class="container" id="main-news">

</div>
{% endblock %}
