{% extends "base.html" %}
{% block title %}Homepage{% endblock %}


{% block content %}
<div class="row">

  <div class="col-md-1"></div>
  <div class="col-8">
    <div class="container" id="company-info">
      <h2 id="desc" class="mt-4" style="margin-left: 100px"></h2>
      <div class="column">
        <div class="col-sm-12" style="position: relative; height: 40vh;">
          <canvas id="line-chart"></canvas>
        </div> 
        <div class="col-sm-12 ml-1" style="position: relative;">
          <canvas id="volume-chart"></canvas>
        </div>       
      </div>
      <ul id="news">
      
      </ul>
    </div>
  </div>

  <div class="col-3 text-center">
    <div class="card sidebar border-dark" style="width: 20%;">
      <div class="card-body">
        <h5 class="card-title">username</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">list of following companies</li>
      </ul>
    </div>
  </div>
</div>


{% endblock %}

