{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block search %}
  <form class="form-inline my-2 my-lg-0" id="search-form">
    <input class="form-control mr-sm-2" id="search-term" aria-label="Search">
    <input class="btn btn-outline-secondary my-2 my-sm-0" type="submit" value="Search">
  </form>
  <div id="error"></div>
{% endblock %}

{% block content %}
<div class="container" id="company-info">
  <div id="desc" class="mt-4"></div>
  <div class="column">
    <div class="col-sm-12" style="position: relative; height: 40vh;">
      <canvas id="line-chart"></canvas>
    </div> 
    <div class="col-sm-12 ml-1" style="position: relative;">
      <canvas id="volume-chart"></canvas>
    </div>       
  </div>
  <ul id="news">
  
  </ul>
</div>
{% endblock %}

