{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}


<div class="container">
  <div id="desc"></div>
  <div class="column" style="margin-left: 100px;">
    <div class="col-sm-12" style="position: relative; height: 500px; width: 900px;">
      <canvas id="line-chart"></canvas>
    </div> 
    <div class="col-sm-12 ml-1" style="position: relative; width: 900px;">
      <canvas id="volume-chart"></canvas>
    </div>       
  </div>
  <ul id="news">
  
  </ul>
</div>
{% endblock %}

