{% extends "base.html" %}
{% block content %}

<div class="marquee">
  <ul class="marquee-content">
    {% for item in marquee %}
    {% if item.changesPercentage[0:1] == '-' %}
    <li class="marquee-item" style="color: #e74c3c;">
      {{ item.ticker }} ${{item.price}} {{item.changesPercentage}}
    </li>
    {% else %}
    <li class="marquee-item" style="color: #2ecc71;">
      {{ item.ticker }} ${{item.price}} {{item.changesPercentage}}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="company-container">
  <div class="flex-row">
    <div class="logo-container">
      <img src='{{ profile[0].image }}'/>
    </div>
    <div class="company-info">
      <h3>{{ profile[0].companyName }}</h3>
      <p>{{ profile[0].symbol }} - {{ profile[0].exchangeShortName }}</p>
      <p>${{ profile[0].price }}</p>
    </div>
  </div>
  <div class="chart-container">
    <canvas id="chart" width="1200" height="500"></canvas>
  </div>

  <div class="company-description">
    <p>{{ profile[0].description }}</p>
  </div>

  <div class="profile-container flex-row">
    <div class="company-profile">
      <table class="table table-striped table-custom">
        <thead>
          <tr>
            <td><h3>Profile</h3></td>
          </tr>
        </thead>
        <tr>
          <td>CEO</td>
          <td>{{ profile[0].ceo }}</td>
        </tr>
        <tr>
          <td>Industry</td>
          <td>{{ profile[0].industry }}</td>
        </tr>
        <tr>
          <td>Sector</td>
          <td>{{ profile[0].sector }}</td>
        </tr>
        <tr>
          <td>Changes</td>
          <td>{{ profile[0].changes }}</td>
        </tr>
        <tr>
          <td>Volume AVG</td>
          <td>{{ profile[0].volAvg }}</td>
        </tr>
        <tr>
          <td>Market-Cap</td>
          <td>{{ profile[0].mktCap }}</td>
        </tr>
        <tr>
          <td>Last dividend</td>
          <td>{{ profile[0].lastDiv }}</td>
        </tr>
      </table>
    </div>
    <div class="company-financial">
      <table class="table table-striped table-custom">
        <thead>
          <tr>
            <td><h3>Financials</h3></td>
          </tr>
        </thead>
        <tr>
          <td>Date</td>
          <td>{{ financials[0].date }}</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>{{ financials[0].revenue }}</td>
        </tr>
        <tr>
          <td>Cost of revenue</td>
          <td>{{ financials[0].costOfRevenue }}</td>
        </tr>
        <tr>
          <td>Gross profit</td>
          <td>{{ financials[0].grossProfit }}</td>
        </tr>
        <tr>
          <td>R&D expense</td>
          <td>{{ financials[0].researchAndDevelopmentExpenses }}</td>
        </tr>
        <tr>
          <td>EBITDA</td>
          <td>{{ financials[0].ebitda }}</td>
        </tr>
        <tr>
          <td>Earnings per share</td>
          <td>{{ financials[0].eps }}</td>
        </tr>
      </table>
    </div>
    <div class="company-rating">
      <table class="table table-striped table-custom">
        <thead>
          <tr>
            <td><h3>Rating</h3></td>
          </tr>
        </thead>
        {% for item in rating %}
        <tr>
          <td>{{ item.gradingCompany }}</td>
          <td>{{ item.newGrade }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</div>



<script type="text/javascript">

  $(() => {
    const options = {
      tooltips: {
        mode: 'interpolate',
        intersect: false
      },
      plugins: {
        crosshair: {
          line: {
            color: '#000000',  // crosshair line color
            width: 1        // crosshair line width
          },
          sync: {
            enabled: true,  
            group: 1,                 // chart group
            suppressTooltips: false   // suppress tooltips when showing a synced tracer
          },
          zoom: {
            enabled: false
          },
          callbacks: {
            beforeZoom: function(start, end) {                  // called before zoom, return false to prevent zoom
              return true;
            },
            afterZoom: function(start, end) {                   // called after zoom
            }
          }
        }
      },
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        position: 'bottom'
      },
      elements: {
        point:{
            radius: 0
        },
        line: {
          tension: 0
        }
      },
      chartArea: {
          backgroundColor: 'rgb(0, 0, 0)'
      },
      scales: {
        xAxes: [{
          display: false,
          gridLines: {
            display: true
          },
          ticks: {
            display: false
          }
        }],
        yAxes: [{
          display: true,
          position: 'right',
          gridLines: {
            display: true
          },
          ticks: {
            display: true
          }
        }]
      }
    }

    function color(arr) {
      if (arr[arr.length - 1] < arr[0]) {
        return 'rgb(231,76,60)'
      } 
      return 'rgb(46,204,113)'
    }

    function shade(arr) {
      if (arr[arr.length - 1] < arr[0]) {
        return 'rgba(231,76,60,0.3)'
      } 
      return 'rgba(46,204,113,0.3)'
    }

    labels = JSON.parse({{ labels | tojson }})
    prices = JSON.parse({{ prices | tojson }})

    const ctx = document.getElementById('chart').getContext('2d');

    new Chart(ctx, {
      type: 'line',
      data: {
        labels : labels,
        datasets: [{ 
          data : prices,
            label: "S&P 500",
            fill: true,
            borderWidth: 2,
            backgroundColor: shade(prices),
            borderColor: color(prices)
          }
        ]
      },
      options: options
    })

  })

</script>

{% endblock %}