{% extends "base.html" %}
{% block content %}

<div class="marquee">
  <ul class="marquee-content">
    {% for item in marquee %}
    {% if item.changesPercentage[0:1] == '-' %}
    <li class="marquee-item" style="color: #e74c3c;">
      {{ item.ticker }} ${{item.price}} {{item.changesPercentage}}
    </li>
    {% else %}
    <li class="marquee-item" style="color: #2ecc71;">
      {{ item.ticker }} ${{item.price}} {{item.changesPercentage}}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="major-index">
  <div class="snp index-card">
    <div class="index-header">
      <h4>{{ snp.name }}</h4>
    </div>
    <div class="index-info">
      <p>Price: ${{ snp.price }}</p>

      {% if snp.changesPercentage[0:1] == '-' %}
      <p>Today: <span style="color: #e74c3c;">{{ snp.change }} ({{ snp.changesPercentage }})</span></p>
      {% else %}
      <p>Today: <span style="color: #2ecc71;">{{ snp.change }} ({{ snp.changesPercentage }})</span></p>
      {% endif %}

    </div>
  </div>

  <div class="dow index-card">
    <div class="index-header">
      <h4>{{ dow.name }}</h4>
    </div>
    <div class="index-info">
      <p>Price: ${{ dow.price }}</p>

      {% if dow.changesPercentage[0:1] == '-' %}
      <p>Today: <span style="color: #e74c3c;">{{ dow.change }} ({{ dow.changesPercentage }})</span></p>
      {% else %}
      <p>Today: <span style="color: #2ecc71;">{{ dow.change }} ({{ dow.changesPercentage }})</span></p>
      {% endif %}

    </div>
  </div>

  <div class="nasdaq index-card">
    <div class="index-header">
      <h4>{{ nasdaq.name }}</h4>
    </div>
    <div class="index-info">
      <p>Price: ${{ nasdaq.price }}</p>

      {% if nasdaq.changesPercentage[0:1] == '-' %}
      <p>Today: <span style="color: #e74c3c;">{{ nasdaq.change }} ({{ nasdaq.changesPercentage }})</span></p>
      {% else %}
      <p>Today: <span style="color: #2ecc71;">{{ nasdaq.change }} ({{ nasdaq.changesPercentage }})</span></p>
      {% endif %}

    </div>
  </div>
</div>

<div class="main-container">
  <div class="set-col">
    <div class="news-container">
      <a class="main-news" href="{{ news[0].url }}" target="blank">
        <img src="{{ news[0].image }}" alt="main-news">
        <div class="description">
          <h2>{{ news[0].title}}</h2>
          <p>{{ news[0].text }}</p>
        </div>
      </a>
    </div>
    <div class="news-item-container">
      {% for item in news[1:10] %}
      <a href="{{ item.url }}" target="blank" class="news-url">
        <div class="card">
          <div class="row">
            <div class="col-sm-4">
              <img src="{{ item.image }}" class="img-fluid">
            </div>
            <div class="col-sm-8">
              <div class="card-info">
                <h4>{{ item.title }}</h4>
                <p>{{ item.text }}</p>
                <small>{{ item.publishedDate }}</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="movers-container">

    <div class="movers-card">
      <h4>Gainers</h4>
      {% for gainer in gainers %}
      <div class="movers-info">
        <p class="movers-item">{{ gainer.ticker }}</p>
        <p class="movers-item">{{ gainer.price }}</p>
        <p class="movers-gainers">{{ gainer.changesPercentage }}</p>
      </div>
      {% endfor %}
      <a href='/movers/gainers' class="movers-action">See more...</a>
    </div>

    <div class="movers-card">
      <h4>Losers</h4>
      {% for loser in losers %}
      <div class="movers-info">
        <p class="movers-item">{{ loser.ticker }}</p>
        <p class="movers-item">{{ loser.price }}</p>
        <p class="movers-losers">{{ loser.changesPercentage }}</p>
      </div>
      {% endfor %}
      <a href='/movers/losers' class="movers-action">See more...</a>
    </div>

  </div>

</div>

<script>
  function fetchdata() {
    $.ajax({
      url: "/long/polling/snp",
      type: 'GET',
      success: function (data) {
        console.log(data);
      },
      complete: function (data) {
        setTimeout(fetchdata, 60000);
      }
    });
  }

  $(document).ready(function () {
    setTimeout(fetchdata, 60000);
  });
</script>

{% endblock %}