{% extends "base.html" %}
{% block content %}

<div class="marquee">
  <ul class="marquee-content">
    {% for item in marquee %}
    {% if item.changesPercentage[0:1] == '-' %}
    <li class="marquee-item" style="color: #e74c3c;">
      {{ item.ticker }} ${{item.price}} {{item.changesPercentage}}
    </li>
    {% else %}
    <li class="marquee-item" style="color: #2ecc71;">
      {{ item.ticker }} ${{item.price}} {{item.changesPercentage}}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="major-index">
  <div class="snp index-card">
    <div class="index-header">
      <h4>{{ snp.name }}</h4>
    </div>
    <div class="index-info">
      <p>Price: ${{ snp.price }}</p>

      {% if snp.changesPercentage[0:1] == '-' %}
        <p>Today: <span style="color: #e74c3c;">{{ snp.change }} ({{ snp.changesPercentage }})</span></p>
      {% else %}
        <p>Today: <span style="color: #2ecc71;">{{ snp.change }} ({{ snp.changesPercentage }})</span></p>
      {% endif %}

    </div> 
  </div>

  <div class="dow index-card">
    <div class="index-header">
      <h4>{{ dow.name }}</h4>
    </div>
    <div class="index-info">
      <p>Price: ${{ dow.price }}</p>

      {% if dow.changesPercentage[0:1] == '-' %}
        <p>Today: <span style="color: #e74c3c;">{{ dow.change }} ({{ dow.changesPercentage }})</span></p>
      {% else %}
        <p>Today: <span style="color: #2ecc71;">{{ dow.change }} ({{ dow.changesPercentage }})</span></p>
      {% endif %}

    </div> 
  </div>  

  <div class="nasdaq index-card">
    <div class="index-header">
      <h4>{{ nasdaq.name }}</h4>
    </div>
    <div class="index-info">
      <p>Price: ${{ nasdaq.price }}</p>

      {% if nasdaq.changesPercentage[0:1] == '-' %}
        <p>Today: <span style="color: #e74c3c;">{{ nasdaq.change }} ({{ nasdaq.changesPercentage }})</span></p>
      {% else %}
        <p>Today: <span style="color: #2ecc71;">{{ nasdaq.change }} ({{ nasdaq.changesPercentage }})</span></p>
      {% endif %}

    </div> 
  </div>
</div>


<div class="gainers-table">
  <table class="table table-striped">
    <h2>Top Loser</h2>
    <thead class="thead-dark">
      <th scope="col">Ticker</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Change</th>
      <th scope="col">Percentage</th>
    </thead>
    <tbody>
      {% for loser in losers %}
      <tr>
        <td>{{ loser.ticker }}</td>
        <td>{{ loser.companyName }}</td>
        <td>{{ loser.price }}</td>
        <td>{{ loser.changes }}</td>
        <td>{{ loser.changesPercentage }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}