{% extends "base.html" %}

{% block search %}
<form class="form" id="search-form">
  <input id="search" type="text">
  <input class="button" type="submit" placeholder="search..." value="search">
</form>
{% endblock %}

{% block content %}

<div class="stock-container">
  <div class="stock-items marquee">
    <ul class="marquee-content"></ul>
  </div>
  <div class="stock-items chart">
    <canvas id="chart"></canvas>
  </div>
  <div class="stock-items options"></div>
  <div class="stock-items info"></div>
</div>

<div class="news-container"></div>

<script>

  document.addEventListener("DOMContentLoaded", () => {
    axios.get("/movers")
    .then((res) => renderMovers(res))
    .catch((err) => console.log(err))
  });

  function renderMovers(res) {
    let data = res.data;
    data.forEach((item) => {
      if (item.companyName !== null) {
        if (item.changesPercentage.indexOf("-") === -1) {
          $(".marquee-content").append(
            `
            <li style="color: #39FF14; font-size: 12px;">${item.ticker}<br>${item.changesPercentage}</li>
            `
          )
        } else {
          $(".marquee-content").append(
            `
            <li style="color: #fe0002; font-size: 12px;">${item.ticker}<br>${item.changesPercentage}</li>
            `
          )
        }  
      }
    })
  }

</script>

{% endblock %}